$imgAPI-fashion0: 'https://via.placeholder.com/1280x854/000000/FFFFFF';
$imgAPI-fashion1: 'https://via.placeholder.com/700x522/9fa5ad/FFFFFF';
$imgAPI-fashion2: 'https://via.placeholder.com/700x522/ada29f/FFFFFF';
$imgAPI-fashion3: 'https://via.placeholder.com/700x522/9fa5ad/FFFFFF';
$imgAPI-fashion4: 'https://via.placeholder.com/700x522/ada29f/FFFFFF';
$imgAPI-fashion5: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion6: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion7: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion8: 'https://via.placeholder.com/320x370/ffa4a4/FFFFFF';
$imgAPI-fashion9: 'https://via.placeholder.com/700x360/ffd7a4/757575';
$imgAPI-fashion10: 'https://via.placeholder.com/320x370/d0d4e6/757575';
$imgAPI-fashion11: '/images/fashion/shoes.png';
$imgAPI-fashion12: '/images/fashion/shoes.png';
$imgAPI-fashion13: '/images/fashion/man.png';
$imgAPI-fashion14: '/images/fashion/shoes.png';
$imgAPI-fashion15: '/images/fashion/shoes.png';
$imgAPI-fashion16: '/images/fashion/woman.png';
$imgAPI-fashion17: '/images/fashion/bag.png';
$imgAPI-fashion18: '/images/fashion/bag.png';
$imgAPI-fashion19: '/images/fashion/bag.png';
$imgAPI-fashion20: '/images/fashion/bag.png';
$imgAPI-fashion21: '/images/fashion/bag.png';
$imgAPI-fashion22: '/images/fashion/bag.png';
$imgAPI-fashion23: '/images/fashion/bag.png';
$imgAPI-fashion24: '/images/fashion/bag.png';
$imgAPI-fashion25: '/images/fashion/bag.png';
$imgAPI-fashion26: 'https://via.placeholder.com/640x427/ffd7a4/757575';
$imgAPI-fashion27: 'https://via.placeholder.com/640x427/f54209/FFFFFF';
$imgAPI-fashion28: 'https://via.placeholder.com/640x427/bbe5ff/757575';
$imgAPI-fashion29: 'https://via.placeholder.com/640x427/bbffbe/757575';
$imgAPI-fashion30: 'https://via.placeholder.com/640x427/f8bbff/757575';
$imgAPI-fashion31: 'https://via.placeholder.com/640x427/ac59b5/FFFFFF';
$imgAPI-fashion32: 'https://via.placeholder.com/640x427/35282d/757575';
$imgAPI-fashion33: 'https://via.placeholder.com/640x427/2d803f/FFFFFF';
$imgAPI-fashion34: 'https://via.placeholder.com/640x427/1d3350/FFFFFF';
$imgAPI-fashion35: 'https://via.placeholder.com/516x462/b4c532/757575';
  